{% extends 'home/base.html' %}

{% block title %}About Agri_Tech{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    header {
        background-color: #339966;
        color: #ffffff;
        text-align: center;
        padding: 20px;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    h1 {
        color: #339966;
    }
    p {
        line-height: 1.6;
    }
</style>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <h1>About Agri_Tech</h1>
            <p>Agri_Tech is a leading innovator in the field of agricultural technology. We are dedicated to transforming and enhancing farming practices through the integration of modern technology and sustainable solutions.</p>
            <h2>Our Mission</h2>
            <p>Our mission is to empower farmers with advanced tools and techniques that optimize crop yield, minimize environmental impact, and improve overall efficiency in agricultural processes.</p>
            <h2>Key Features</h2>
            <ul>
            <li>Precision Farming: Leveraging data-driven insights to make informed decisions about planting, irrigation, and pest control.</li>
            <li>Smart Irrigation: Implementing sensor-based irrigation systems to deliver water precisely where and when it's needed.</li>
            <li>Crop Monitoring: Utilizing drones and satellite imagery for real-time crop health assessment and disease detection.</li>
            <li>Biotechnology: Developing genetically modified crops for enhanced resistance and nutritional value.</li>
            <li>Supply Chain Optimization: Streamlining the distribution process to reduce waste and ensure timely delivery of produce.</li>
            </ul>
            <h2>Get in Touch</h2>
            <p>If you're interested in learning more about Agri_Tech and our revolutionary agricultural solutions, please contact us at <a href="mailto:mailto:agritech21691a3708@gmail.com">mailto:agritech21691a3708@gmail.com</a>.</p>
        </div>
    </div>
</div>
{% endblock %}
