{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Agri_Tech{% endblock %}</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    
    <!-- Your custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"> <!-- Replace 'css/custom.css' with your actual CSS file path -->
</head>
<body>
{% if user.is_authenticated %}
<h2 class="col-md-8 mx-auto text-center" style="color-interpolation-filters: ">Welcome Agri Tech </h2>
<h3 class="col-md-8 mx-auto text-center" style="color-interpolation-filters: ">({{ user.username }}) {{ user.first_name  }} {{ user.last_name }}</h3>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'farmer_home' %}">
            <img src="{% static 'image/farmer.png' %}" class="rounded-circle" style="width:100px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/buyer_list/' %}active{% endif %}" href="{% url 'buyer_list' %}">buyer_list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/farmer_productions/' %}active{% endif %}" href="{% url 'farmer_productions' %}">farmer_productions</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link {% if request.path == '/chat/' %}active{% endif %}" href="{% url 'chat' %}">Messages form all</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link {% if request.path == '/signout/' %}active{% endif %}" href="{% url 'signout' %}">Sign Out</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/fchange_password/' %}active{% endif %}" href="{% url 'fchange_password' %}">Change Password</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% else %}
<li class="nav-item">
    <a class="nav-link {% if request.path == '/signin/' %}active{% endif %}" href="{% url 'signin' %}">signin</a>
</li>
{% endif %}
{% for message in messages %}
  <div class="alert aleart-{{ message.tags }} alert-dismissible fade show text-center text-primary " role="alert">
  <strong>Message:</strong>{{ message }}
  
  </div>
{% endfor %}
<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap JS (Popper.js and Bootstrap.js) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<!-- Your custom JavaScript -->
<script src="{% static 'js/custom.js' %}"></script> <!-- Replace 'js/custom.js' with your actual JavaScript file path -->

<br>
<br>
<footer class="bg-dark text-light text-center py-3">
    <p>&copy; 2023 Agri_Tech. Farmer All rights reserved.</p>
</footer>
<br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>







